.a-color {
    color: lightblue;
}

a:active {
    color: bisque;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

.about-container {
    inline-size: 300px;
    padding: 10px;
    width: inherit;
}

.img-container {
    padding: 10px;
}

@media only screen and (min-width: 640px) {
    .info-container {
        width: 95%;
    }
}

@media only screen and (min-width: 1250px) {
    .info-container {
        width: 90%;
    }
}