.section-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

/* .slide {
    width: 73%;

}

.proof {
    width: 25%;
} */

.my-headers {
    margin-top: 5px;
    margin-bottom: 2px;
    color: bisque;
}