.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.wrap-anywhere {
    overflow-wrap: anywhere;
}

.list-item {
    font-weight: 400;
    font-size: 9px;
    width: 300px;
    text-align: inherit;
    white-space: inherit;
    inline-size: 300px;
}

.dropdown-menu {
    position: static;
    display: block;
    width: 300px;
    margin: 4rem auto;
}

.dropdown-menu-macos {
    display: grid;
    gap: .25rem;
    border-radius: .5rem;
}

.dropdown-menu-macos .list-item {
    border-radius: .25rem;
}

.list-item-danger {
    color: var(--bs-red);
}

.list-item-danger:hover,
.list-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
}

.list-item-danger.active {
    background-color: var(--bs-red);
}